#action {
  padding-top: 50px;
}

.input-mysize { 
	width: 300px;
	margin-right: 250px;
}

.dropdown {
	margin-right: 50px;
}

#content {
	padding: 20px 0;
}

/* Login Facebook */
#btn-fblogin {
	width: 250px;
	margin-left: -10px;
	font-weight: bold;
	font-size: 20px;
}

#hacktiv8 #btn-fblogin {
	/* margin-left: 150px; */
}

@media only screen and (max-width: 768px) {
	#hacktiv8 {
		margin-left: 65px;
		width: 60%;
		margin-top: 10px;
		/* justify-content: center; */
	}
	#btn-fblogin {
		margin-left: 8px;
	}
}

/* End of Login Facebook */

/* Gallery */
.gallery-heading {
	margin: 0 0 -20px 0;
}

.gallery-body-title {
	background-color:rgb(211, 204, 204);
	color: rgb(10, 10, 10);
	height: 50px;
	padding: 0 0;
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px 10px;
}

.gallery-body-detail {
	background-color:#f4f4f4;
	height: 50px;
	padding: 0 0;
	margin-bottom: 20px;
	padding: 10px 10px;
	font-size: 1.5em;
}

.gallery-body-detail button {
	margin-bottom: 20px;
	float: right;
}
/* End of Gallery */

.thumbnail-cart{
	max-width: 25%;
	max-height: 25%;
	width: auto;
	height: auto;
	margin-bottom: 100px;
}


/* Footer */
footer.nb-footer {
	margin-top: 100px;
	background: #222;
	border-top: 4px solid #b78c33; 
}
footer.nb-footer .about {
	margin: 0 auto;
	margin-top: 40px;
	max-width: 1170px;
	text-align: center; 
}
footer.nb-footer .about p {
	font-size: 13px;
	color: #999;
	margin-top: 30px; 
}
footer.nb-footer .about .social-media {
	margin-top: 0px; 
}
footer.nb-footer .about .social-media ul li a {
	display: inline-block;
	width: 45px;
	height: 45px;
	line-height: 45px;
	border-radius: 50%;
	font-size: 16px;
	color: #b78c33;
	border: 1px solid rgba(255, 255, 255, 0.3); 
}
footer.nb-footer .about .social-media ul li a:hover {
	background: #b78c33;
	color: #fff;
	border-color: #b78c33; 
}
footer.nb-footer .footer-info-single {
	margin-top: 30px; 
}
footer.nb-footer .footer-info-single .title {
	color: #aaa;
	text-transform: uppercase;
	font-size: 16px;
	border-left: 4px solid #b78c33;
	padding-left: 5px; 
}
footer.nb-footer .footer-info-single ul li a {
	display: block;
	color: #aaa;
	padding: 2px 0; 
}
footer.nb-footer .footer-info-single ul li a:hover {
	color: #b78c33; 
}
footer.nb-footer .footer-info-single p {
	font-size: 13px;
	line-height: 20px;
	color: #aaa; 
}
footer.nb-footer .copyright {
	margin-top: 50px;
	background: #111;
	padding: 7px 0;
	color: #999; 
}
footer.nb-footer .copyright p {
	margin: 0;
	padding: 0; 
}
/* End of Footer */