<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cake and Decoration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./style/boot.css">

  </head>
  <body>

    <div id="vueApp">

      <!-- navigation -->
      <nav class="navbar bg-white no-top-padding bottom-border">
        <nav class="navbar navbar-expand-lg navbar-light bg-white auto-margin side-border ">
          <a class="navbar-brand" href="#">{{title}}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Browse</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Birthday Cake</a>
                  <a class="dropdown-item" href="#">Buttercream Cake</a>
                  <a class="dropdown-item" href="#">Wedding Cake</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Custom Order</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Classes</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <button type="button" class="btn btn-info margin-side-5px" data-toggle="modal" data-target="#cartModal">
                Cart ({{cartSize}})
              </button>
              <input class="form-control mr-sm-2 col-6" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
      </nav>

      <div class="container-fluid bg-light full-width bottom-border">
        <div id="item-of-the-day" class="carousel slide margin-0" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#item-of-the-day" data-slide-to="0" class="active"></li>
            <li data-target="#item-of-the-day" data-slide-to="1"></li>
            <li data-target="#item-of-the-day" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div v-bind:class="banner.class" v-for='(banner, index) in carousel_banner' >
              <img class="d-block w-100 bg-carousel" v-bind:src="banner.imgUrl" alt="First slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#item-of-the-day" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#item-of-the-day" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <div class="container-fluid full-width bottom-border flexbox flex-direct">
        <div class="container-fluid margin-vert-30px flexbox  justify-around align-items" v-for='p_banner in promo_banners'>
          <img class=" margin-side-10px  img-fluid " width="490px" height="280px" v-bind:src="p_banner.imgUrl" alt="placeholder1">
        </div>
      </div>

      <div class="container-fluid bg-white margin-vert-30px padding-bottom-30px bottom-border ">
        <div class=" row flex-simple margin-side-30px">
          <div class="card card-width margin-vert-15px flex-items" v-for='(cake, index) in cakes' >
            <img class="card-img-top img-fluid" v-bind:src="cake.imgUrl" alt="Card image cap">
            <div class="card-body padding-vert-4px">
              <div class="row">
                <div class="col-sm-8">
                  <h5 class="card-title margin-vert-3px font-1rem">{{cake.title}}</h5>
                  <h5 class="card-title margin-vert-3px font-1rem">{{cake.price}}</h5>
                </div>
                <div class="col-sm-4 flexbox justify align-items">
                  <button class="btn btn-success" type="button" name="button" v-on:click='addItem(cake.title, cake.price, cake.imgUrl)'>Order</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cartModalTitle">Cart</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body flexbox justify align-items flex-col">


              <!-- card #1 -->
              <div class="card width" style="width: 100%;" v-for='item in cart'>
                <img class="img-fluid" v-bind:src="item.imgUrl" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{item.title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{item.price}} - {{item.quantity}} Total: {{totalPrice(item.price, item.quantity)}}</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button class="btn btn-secondary" type="button" name="button" v-on:click='cartRemoveItem(item.title)'>-</button>
                  <button class="btn btn-secondary" type="button" name="button" v-on:click='cartAddItem(item.title)'>+</button>
                  <button class="btn btn-danger" type="button" name="button" v-on:click='cartRemoveAll(item.title)'>Remove all</button>
                </div>
              </div>

              <!-- grand total -->
              <div class="card width" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">Grand Total $ {{grandTotal}}</h5>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Checkout</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./javascripts/vue.js" ></script>
  </body>
</html>
