.navbar-top{
    background-color: teal;
    padding-top: 0pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.slide{
    padding-top: 40px;
    padding-bottom: 20px;
    display: grid;
    background-color:#E8ECED;
}
.cart{
    padding-top: 80px;
}
.img-body{
    width: 100%;
}
.img-header{
    width: 100%;
}
.img-body:hover{
        opacity: 0.5;
        width: 95%;
        filter: alpha(opacity=50); 
}
.category{
    margin-top: 20px
}
.category H4{
    color: teal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
strike{
    padding-top: -5px;
    color:grey;
    font-size: small;
}
.price{
    color: teal;
    font-weight: bold;
    font-size: 16px;
}
.fa-shopping-cart{
    size: 190px;
    color: white;
}
.page-footer{
    margin-top: 20px;
    padding-top: 10px;
    background-color: teal;
}
.row-footer{
    color:whitesmoke;
    margin-top: 15px;
    padding-bottom: 15px;
}
a:link, a:active {
    color:white;
}
.caption P{
    font-family: fantasy;
}
.footer-info{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.footer-info p{
    margin-bottom:  1px;
}