*{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}

h4 {
  font-family: 'PT Sans', sans-serif;
}
.spacer-10px{
  margin-top: 10px;
}
.spacer-20px{
  margin-top: 20px;
}
.spacer-50px{
  margin-top: 50px;
}


@media only screen and (max-width: 1440px) {
  .main {
    /* height: 2000px; */
    background-color: rgb(100,100,100)
  }

  .header {
    background-color: rgb(10,10,10);
    /* padding: 10px 20px 10px 20px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;

  }
  .pullout-button {
    width: 70px;
    height: 70px;
    background-color: grey;
    order: 1;
  }
  #logo {
    /* background-color: black; */
    height: 70px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    order: 2;
  }
  #logo span {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    color: white;
  }
  .navigation {
    display: flex;
    flex-direction: column;
  }
  .navigation li {
    background-color: rgb(111, 111, 111);
    list-style: none;
    margin: 2px;
    padding: 4px;
  }
  a {
    text-decoration: none;
  }
  /* login etc */
  .User-account {
    height: 70px;
    display: flex;
    flex-grow: 1;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    padding: 0 10px;
    order: 4;

  }
  .User-account p {
    color: rgb(233, 233, 233);
  }
  .login {
    text-decoration: none;
    color: rgb(233, 233, 233);
    background: none;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
  }
  .login:hover {
    cursor: pointer;
  }
  .signup {
    text-decoration: none;
    color: rgb(233, 233, 233);
    background-color: rgb(255, 41, 0);
    border-radius: 4px;
    margin-left: 5px;
    padding: 4px 7px;
  }
  .signup:hover {
    cursor: pointer;
  }
  /* search */
  .search{
    order: 3;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-basis: 55%;
  }
  .search-bar {
    flex-grow: 1;
    display: flex;
    padding: 5px 10px;
  }
  #input-button {
    background-color: black ;
    padding: 3px 10px;
  }
  #input-search {
    flex-grow: 9;
    width: inherit;
    border: none;
    height: 24px;
    padding: 3px;
  }

  #pullout {
    position: absolute;
    top: 0;
    left: -80%;
    width: 80%;
    height: 100vh;
    background: #f5f5f5;
    transition: all 0.5s ease;
  }

  #pullout.active {
    left: 0;
    display: flex;
    flex-direction: row;
  }

  #pullout-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
  }
  #pullout-tab {
    position: absolute;
    top: 0;
    right: -70px;
    width: 70px;
    height: 70px;
    background: #ff0000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* transition: all 0.1s ease; */
  }
    #pullout-tab.side {
      background-color: rgba(80,80,80, 0.5);
      /* right: -100px; */
      /* width: 100px; */
      height: 100%;
      width: auto;
      flex-grow: 1;
    }
  .line-separator {
    margin-top: 2px;
    margin-bottom: 2px;
    border-bottom: 3px solid rgba(255,255,255,1);
    width: 50%;
    border-radius: 2px;
  }
  .line-separator.hide {
    border: none;
  }
  .showcase {
    background-color: rgb(100,100,100);
    /* height: 150px; */
    display: flex;
    flex-direction: column;
    padding: 10px 75px;
  }
  .showcase-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* height: 250px; */
    width: 100%;
  }
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
    border-radius: 4px;
  }
    .two-rows {
     /* only 4 items */
     flex-wrap: wrap;
     justify-content: center;
    }
  .subTitle {
    margin: 10px 0;
    padding: 0 10px;
  }
  .image-250pxtall {
    height: 250px;
    width: 100%;
    background-color: rgb(150, 150, 150);
    display: flex;
    justify-content: center;
  }
    .image-250pxtall img {
      height: 250px;
      width: 100%;
    }
  .image-50pxtall {
    height: 50px;
    width: 100%;
    background-color: rgb(110, 110, 110)
  }
    .image-50pxtall img {
      height: 50px;
      width: 100%;
    }
  /* gallery of items */
  .gallery {
    background-color: rgb(240,240,240);
    box-sizing: border-box;
    margin: 10px 75px;
    border-radius: 4px;
    padding: 10px;
    /* height: 260px; */
    /* border: 1px solid white; */

  }
  .items {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding: 0 10px;
  }
  .item-desc {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    align-self: center;
  }
  .thumbs {
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 5px;
    width: 170px;
    height: 170px ;
  }
    .sm-thumb {
      width: 130px;
      height: 130px;
    }
  /* footer */
  .footer {
    box-sizing: border-box;
    height: 80px;
    background-color: rgb(30,30,30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
  }
}
