body {
    background-color: #f4f4f4;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

#main-header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.navbar-brand-mobile {
    left: 50%;
    text-align: center;
    margin: 0 auto;
    display: block
}

.main-category {
    background-color: #fff;
}

a.main-category {
    color: #000;
}

.list-categories {
    overflow: auto;
    white-space: nowrap;
}

.list-categories li {
    display: inline-block;
    padding: 8px 0;
}

.list-categories a {
    margin-right: 30px;
}

/* Media Query */

.card {
    margin-bottom: 20px;
    border: none;
}

.card-title {
    font-weight: 700;
    font-size: 14px;
}

.commerce-tagline {
    padding: 15px 0;
}

.item-detail {
    float: left;
    padding-left: 15px;
}

@media (max-width: 320px) {
    .commerce-tagline>h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 425px) {
    .item-cart {
        width: 30%
    }
    .item-detail {
        float: none;
        padding-left: 85px;
    }
}

@media (min-width: 768px) {}

@media (max-width: 992px) {
    .search {
        width: 100% !important;
        margin-bottom: 8px;
        margin-right: 0 !important
    }
}